/* BANNER */
.banner {
    margin: 0;
    padding: 0;
    background-image: url('../img/genetica-black.webp');
    width: 100%;
    height: 100vh; /* Ajusta la altura para cubrir toda la ventana */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em; /* Añade un padding superior para compensar la altura del header */
}

.banner__title {
    padding: 5em;
    position: relative; /* Añade posicionamiento relativo */
    transform: translateY(0); /* Ajuste inicial, se cambiará con JavaScript */
    transition: transform 0.3s ease-out; /* Agrega transición suave */
    max-width: 10em;
    text-align: center;
}

.banner__bienvenida {
    padding: 2em 10em; 
    text-align: center;
    display: flex;
    margin: 0;
}


/* ESTRENOS */
.genetica-al-dia {
    margin-top: 15em;
    background-color: var(--color-white);
}

.genetica-al-dia__txt {
    color: var(--color-bggrey);
    text-align: center;
}