:root {
    /* Branding colors */
    --color-purple: #A328C6;
    --color-orange: #FF6F5E; 
    --color-bggrey: #1C1C1C; /* Color de fondo */
    --color-white: #ffffff; /* Color de la letra */
    --main-padding: 2em 10em; 
    --color-degra: linear-gradient(to bottom right, var(--color-purple), var(--color-orange));
    --max-width: 75rem;

    /* TIPOGRAFÍA */
    font-family: "Poppins", sans-serif;
    line-height: 1;
}

/* ESTILOS TIPOGRAFÍAS */
.h1 { font-weight: 700; font-size: clamp(1.5em, 4vw, 3em); }
.h2 { font-weight: 400; font-size: clamp(1.5em, 4vw, 2.75em); }
.h3 { font-weight: 700; font-size: clamp(1.25em, 3.5vw, 2.25em); }
.h4 { font-weight: 400; font-size: clamp(1.25em, 3.5vw, 2.25em); }
.h5 { font-weight: 200; font-size: clamp(1em, 3vw, 2em); }
.h6 { font-weight: 400; font-size: clamp(0.875em, 2.5vw, 1.75em); }
.p { font-weight: 200; font-size: clamp(0.70em, 1.3vw, 1em); line-height: 1.2em; }

h1 { font-weight: 700; font-size: clamp(1.5em, 4vw, 3em); }
h2 { font-weight: 400; font-size: clamp(1.5em, 40.70em, 1.3vw, 1emvw, 2.75em); }
h3 { font-weight: 700; font-size: clamp(1.25em, 3.5vw, 2.25em); }
h4 { font-weight: 400; font-size: clamp(1.25em, 3.5vw, 2.25em); }
h5 { font-weight: 200; font-size: clamp(1em, 3vw, 2em); }
h6 { font-weight: 500; font-size: clamp(0.875em, 2.5vw, 1.75em); margin: 1.3em 0em .7em 0em; }
p { font-weight: 200; font-size: clamp(); line-height: 1.2em; }

.motivacionales { font-weight: 400; font-size: clamp(2em, 5vw, 5em); line-height: 1; }


/* GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegúrate de que el html y body tengan altura completa */
    box-sizing: border-box;
    background-color: var(--color-bggrey);
    color: var(--color-white);
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.global-margin {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Tablet*/
@media (min-width: 22.5rem) and (max-width: 30rem){

}
/* Movil */
@media (max-width: 22.5rem){
    
}

.sin-punto {
    list-style-type: none;
    padding: 0;
    margin:0;
}

/* DEGRA-HIC */
.degra-hic {
    margin: -4rem 0px 0px 0px;
    padding: 0;
    background-image: url(../img/degra-hic.png);
    width: 100%;
    height: 20vh;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------------------- */
/* HEADER MENU */
header {
    position: sticky;
    top: 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    position: relative;
    width: 10rem;
}

.nav {
    align-content: end;
}

.nav__list {
    position: relative;
    display: flex;
    justify-content: end;
    gap: .3rem
}

.active {
    opacity: 50%;
}

.abrir-menu,
.cerrar-menu {
    display: none;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-white);
}

@media screen and (max-width: 780px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-orange);
        padding: 2rem;
        height: 100vh;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .cerrar-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
    }

    .nav__list {
        flex-direction: column;
        margin-top: 5rem;
    }

    .nav__list li {
        font-weight: 400;
        font-size: 30px;
        line-height: 2em;
        padding-left: 3em;
    }

    .nav__list li:hover {
        opacity: 50%;
    }
}

/* HEADER MENU -- HOVER */
.nav__list li a {
    position: relative;
    display: inline-block;
    padding: .3em .7em; /* Ajusta el espaciado del enlace */
    border-radius: 50em;
    overflow: hidden;
}

.nav__list li a:hover {
    background: linear-gradient(to bottom right, var(--color-purple), var(--color-orange));
    padding-right: 2em; /* Ajusta el padding derecho para dar espacio al ícono */
}

.nav__list li a::after {
    content: "\f04b"; /* Código Unicode para el icono de 'play' en Font Awesome */
    font-family: "Font Awesome 5 Free"; /* Especifica la fuente de los iconos de Font Awesome */
    font-weight: 900; /* Asegura que se use la versión sólida del icono */
    position: absolute;
    right: 1.2em; /* Ajusta la posición del ícono */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s; /* Transición para el icono */
}

.nav__list li a:hover::after {
    opacity: 1; /* Muestra el ícono al hacer hover */
    transform: translateY(-50%) translateX(50%); /* Ajusta la posición del ícono dentro del enlace */
    color: var(--color-white); /* Cambia el color del ícono al hacer hover */
}
/* -------------------------------------------------------------------------------------- */

/* ------------------------------------ HOME PAGE -------------------------------------------------- */
/* BANNER */
.banner {
    margin: 0;
    padding: 0;
    background-image: url('../img/genetica-black.webp');
    width: 100%;
    height: 100vh; /* Ajusta la altura para cubrir toda la ventana */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6em; /* Añade un padding superior para compensar la altura del header */
}

.banner__title {
    padding: 5em;
    position: relative; /* Añade posicionamiento relativo */
    transform: translateY(0); /* Ajuste inicial, se cambiará con JavaScript */
    transition: transform 0.3s ease-out; /* Agrega transición suave */
    max-width: 10em;
    text-align: center;
}

.banner__bienvenida {
    padding: var(--main-padding); 
    text-align: center;
    display: flex;
    margin: 0;
}

/* ESTRENOS */
.genetica-al-dia {
    margin-top: 15em;
    background-color: var(--color-white);
}

.genetica-al-dia__txt {
    color: var(--color-bggrey);
    text-align: center;
}
/* -------------------------------------------------------------------------------------- */

/* ------------------------------------------- CONTENIDO ------------------------------------------- */

/* Carrousel de vídeos*/
.contenido {
    overflow: hidden;
    align-content: center;
    max-width: var(--max-width);
    margin-top: 7.5rem;
}

.contenido .carousel  {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: var(--max-width);
}
.contenido .carousel .flecha-izquierda,
.contenido .carousel .flecha-derecha {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 2.5rem;
    height: 50%;
    top: calc(50% - 43.5%);
    line-height: 2.5rem;
    width: 50px;
    color: var(--color-orange);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease;
}

.contenido .carousel .flecha-izquierda:hover,
.contenido .carousel .flecha-derecha:hover {
    color: var(--color-purple);
    background-color: rgba(0, 0, 0, 0);
}

.contenido .carousel .flecha-izquierda {
    left: 0; /* poner la flecha en el borde del contenedor*/
}

.contenido .carousel .flecha-derecha {
    right: 0; /* poner la flecha en el borde del contenedor*/
}

.contenido .carousel .contenido__jornadas {
    width: 100%;
    padding: 1.25rem 0;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    gap: 2em;
}

.contenido .carousel .contenido__jornadas .contenido__jornadas__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 20%;
    transition: .3s ease all;
}

.contenido .carousel .contenido__jornadas .contenido__jornadas__inner img {
    width: 100%;
    border-radius: .7rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.contenido .carousel .contenido__jornadas .contenido__jornadas__inner img.hover {
    transform: scale(1.2);
    transform-origin: center;
}

@media screen and (max-width: 900px) {
    .contenido {
        margin-top: 7.5rem;
    }
    
    .contenido .carousel {
        overflow: visible;
    }

    .contenido .carousel .contenido__jornadas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }

    .contenido .carousel .flecha-izquierda,
    .contenido .carousel .flecha-derecha {
        display: none;
    }
}

/* 
-------------------------------------------------------------------------------------- */

/* ----------------------------------------- TE ESCUCHAMOS --------------------------------------------- */
/* PAGE CONTACTO*/
.form {
    margin-top: .5rem;
}

.form h1 {
    text-align: center;
}

.form__row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.form__campos {
    flex: 1 1 calc(50% - 2rem); /* Ajuste flexible para que ocupe la mitad del contenedor con el gap */
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0rem;
}

.form__campos textarea {
    border-radius: 14px;
    height: 7rem;
    padding: 2rem;
}

label {
    padding: .5rem 0rem;
}

input, select {
    border: var(--color-white);
    background-color: none;
    border-radius: 16px;
    padding: .5rem 1.5rem;
    width: 100%;
    box-sizing: border-box; 
}

.form__campos-submit {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    width: 6rem;
}

@media screen and (max-width: 480px) {
    .form__row {
        flex-direction: column;
    }

    .form__campos {
        flex: 1 1 100%; /* Ocupa todo el ancho del contenedor padre */
    }
}
/* -------------------------------------------------------------------------------------- */


/* --------------------------------------------- SOBRE NOSOTROS ----------------------------------------- */
/* BANNER - SOBRE NOSOTROS */
.banner-margin {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    transition: margin 1s ease, max-width 1s ease;
}

.banner-no-margin { /* la pone js */
    transition: margin 1s ease, max-width 1s ease;
    max-height: 37.5rem;
}

.img-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    border-radius: 1.25rem;
    overflow: hidden;
}

.img-fondo {
    max-width: 100%;
    max-height: auto;
    border-radius: 1.25rem;
    object-fit: cover;
    pointer-events: none; /* Evitar que la imagen interfiera con los clics */
}

@media screen and (max-width: 1000px) {
    .img-banner {
    border-radius: 0;
   }

    .img-fondo {
    border-radius: 0;
    min-width: auto;
    min-height: 10rem;
   } 
}

.nosotros__banner {
    position: absolute;
    z-index: 1;
    top: 25%;
}

@media screen and (max-width: 700px) {
    .nosotros__banner {
        position: absolute;
        z-index: 1;
        top: 15%;
    }
}

.nosotros__banner h1 {
    max-width: 30rem;
    margin: 0 auto;
}

.appear {
    transition: opacity .5s;
}

.nosotros__info {
    position: relative;
    margin-top: clamp(2rem, 28vw, 28rem)
}

.subrayado {
    padding-bottom: .5em;
    border-bottom: 0.01em solid #ffffff;
}


/* VALORES */
.valores {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 3rem;
}

.valores__liderazgo {
    background-image: url('../img/liderazgo.webp');
    border-radius: 15px;
    margin-top: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.valores__innovacion {
    background-image: url('../img/innovacion.webp');
    border-radius: 15px;
    margin-top: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.valores__equipo {
    background-image: url('../img/equipo.webp');
    border-radius: 15px;
    margin-top: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.valores__excelencia {
    background-image: url('../img/excelencia.webp');
    border-radius: 15px;
    margin-top: 1.25rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.valores__titulo, .valores__descripcion {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.valores__descripcion {
    display: none;
}

.valores__liderazgo:hover .valores__titulo {
    opacity: 0;
    visibility: hidden;
}

.valores__liderazgo:hover .valores__descripcion {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* -------------------------------------------------------------------------------------- */


/* --------------------------------------------- FOOTER ----------------------------------------- */
/* FOOTER */
footer {
    margin-top: 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__container__content{
    display: flex;
    justify-content: space-between;
}

.footer__container__info{
    display: flex;
    justify-content: space-between;
}

.footer__container__info__sedes{
    display: flex;
    flex-direction: column;
}

.footer__container__servicios{
    display: flex;
    padding-top: 3em;
    gap: 3em;
}

@media screen and (max-width: 500px) {
    .footer__container__info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 385px) {
    .footer__container__content {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .footer__container__info {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

/* -------------------------------------------------------------------------------------- */