body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:floralwhite;

    height: 1000px;
}

.div__hover {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(255, 216, 216, 0.746), -5px -4px 4px 0px white;

    width: 21em;
    height: 14.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.div__hover:hover {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(255, 216, 216, 0.746), -5px -4px 4px 0px white;

    width: 18.9em;
    height: 12.83em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.hover__img {
    width: 20em;
    transition: 0.5s;
}

.hover__img:hover {
    width: 18em;
}

/* Popup styles */
.overlay {
    display: flex;
    
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 1, 0.636);

    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 4em;
    transition: 1s;
}

.hidden {
    display: none;
}

.overlay img {
    max-width: 500px;
    max-height: auto;
    border-radius: 5px;
    border: solid;
    border-color: white;
    box-shadow: 0px 0px 2px 0px rgba(255, 216, 216, 0.746);
    
}